.add-game-page {
  padding: 40px;
  max-width: 700px;
  margin: 40px auto;
  background-color: rgba(22, 23, 29, 0.85);
  backdrop-filter: blur(8px);
  border-radius: 12px;
  text-align: center;
}

/* Titlu */
.add-game-title {
  margin-bottom: 20px;
  color: var(--text-h);
}

/* Inputuri */
.add-game-form input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--border);
  background: rgba(255, 255, 255, 0.1);
  color: var(--text-h);
  margin-right: 15px
}

/* Imagine de preview */
.add-game-cover-preview {
  width: 50px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
  margin: 10px auto 0;
  box-shadow: 0 0 10px rgba(170, 59, 255, 0.3);
  margin-left: 15px;
}

/* Buton */
.add-game-button {
  margin-top: 10px;
  margin-left: 15px;
}

/* Responsive */
@media (max-width: 768px) {
  .add-game-page {
    padding: 20px;
    margin-top: 20px;
  }

  .add-game-form input {
    width: 90%;
    margin: 0 auto;
  }

  .add-game-cover-preview {
    width: 70px;
    height: 80px;
  }

  .add-game-button {
    width: 80%;
    margin: 10px auto;
  }
}